[Unit]
Description=Apache Kafka
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
StandardOutput=null
Environment="KAFKA_HEAP_OPTS={{ kafka_java_heap }}"
Environment="LOG_DIR={{ kafka_log_dir }}"
{% if kafka_jmx_port is defined %}
Environment="JMX_PORT={{ kafka_jmx_port }}"
Environment="KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.rmi.port={{ kafka_jmx_port }}"
{% endif %}
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh
User={{ kafka_user }}
Group={{ kafka_group }}
Restart=on-failure
LimitNOFILE=infinity
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
Alias=kafka.service
Footer

